#board{
    margin-top: 30px;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 20px;
    color: rgb(65, 65, 65);
    
}

#palette{
    margin: auto;
    color: rgb(65, 65, 65);
}

#undo{
    height: auto;
    width: auto;
    max-width: 20px;
    max-height: 20px;
}

td{
    height: 50px;
    width: 50px;
}

tr:nth-child(3n){
    border-bottom: 2px solid black;
}
td:first-child{
    border-left: 2px solid black;
}

td:nth-child(3n){
    border-right: 2px solid black;
}

th{
    height: 50px;
    width: 50px;
}
tr:first-child{
    border-top: 2px solid black;
}

#board, td{
    text-align: center;
    min-width: 550;
    padding: 10px;
    font-weight: bold;
    border: 0.5px solid gray;
    border-collapse: collapse;   
}

#palette, th{
    table-layout: fixed;
    text-align: center;
    padding: 10px;
    border: 2px solid black;
    border-collapse: collapse;
}

#board:hover td:hover{
    background-color: #f5dd90;
}

#palette:hover th:hover{
    background-color: #f5dd90;
}

.user-input{
    background-color: #f2f2f2;
}
.current{
    background-color: aquamarine;
}
th.active{
    background-color: #f5dd90
}
.error{
    background-color: #f76c5e;
}
