#board{
    margin-top: 30px;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 20px;
    color: rgb(65, 65, 65);
    
}

#palette{
    margin: auto;
    color: rgb(65, 65, 65);
}

#undo{
    height: auto;
    width: auto;
    max-width: 20px;
    max-height: 20px;
}

td{
    height: 50px;
    width: 50px;
}

td:first-child{
    border-left: 2px solid black;
}

td:nth-child(3n){
    border-right: 2px solid black;
}

th{
    height: 50px;
    width: 50px;
}

#board, td{
    text-align: center;
    min-width: 550;
    padding: 10px;
    font-weight: bold;
    border: 0.5px solid gray;
    border-collapse: collapse;
    
}

#palette, th{
    text-align: center;
    padding: 10px;
    border: 0.5px solid black;
    border-collapse: collapse;
}

#board:hover td:hover{
    background-color: #f5dd90;
}

#palette:hover th:hover{
    background-color: #f5dd90;
}

.boldRow{
    border-bottom: 2px solid black;
}

.topRow{
    border-top: 2px solid black;
}

.boldCol{
    border-right: 2px solid black;
}

.user-input{
    background-color: #f2f2f2;
}

.error{
    background-color: #f76c5e;
}

#high_scores{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.headingDiv{
    border-bottom: 2px solid rgb(56, 56, 56);
}

#high_scores td{
    border: none;
    padding: 20px;
    text-align: center;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif
}

#high_scores tr:first-child td{
    font-weight: bold;
    font-size: large;
}